div.card-body {
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 grey;
    height: auto;
    margin-bottom: 20px;
    padding: 10px 0px 10px 40px;
    position: relative;
    top: 100px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


table {
    border: #1a1a1a;
    font-size: 20px;
    height: 240px;
    width: 70%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url('bookshelf.webp');
    color: #ceccc1;
}

input.post {
  position: relative;
  padding: 10px;
  background: rgb(197, 170, 24);
  color: #222222;
  font-weight: 600;
  font-size: 1.25em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  width: 100%;
}

div.links a{
  color: #c5aa18;
  text-weigth: 800px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
